@charset "utf-8";
body {
	font-size: 14px;
	/* Set background parameters */
	background: #E0D783; /* Default bckg color */
	background:fixed; /* Set background fixed to 
								stay on a fixed place when scrolling */
	background-image:url(body_img.jpg); /* Set bckg image */
	padding: 0;
	/*Set overall text parameters*/
	color: #000;
	font-weight: bold;
}

title {
	display:none;
}
a:link {
	color: #004067;
	text-decoration: none;
}
a:visited {
	color: #004067;
	text-decoration: none;
}

.container {
	width: 90%;
	max-width: 1260px;
	min-width: 1200px;
	/*background: #E0D783;*/
	background-color: rgba(150, 150, 150, 0.6);
	margin: 0 auto;
	box-shadow: 0px 0px 20px RGBA(0,0,0,0.6);
}
.poem {
	color: #000000;
	text-align: center;
	font: Times;
	/*font-style: normal;
	font-style: italic;*/
}
.poem p{
	margin:20px;
	margin-top: 1px;
	margin-bottom: 1px;
	font: Arial;
	font-weight: normal;
	font-style: italic;
}
.descr {
	color: #000000;
	text-align: left;
	font: Times;
}
.descr p{
	font: Arial;
	font-weight: normal;
}
	
	
header {
	padding-top: 15px; /*Header text padding*/
	text-align:center; /*Text align*/
	width:100%; /*Percentage of header width*/
	height:45px;
	/*background:#FFF;*/
	background:RGBA(100, 110, 140, 0.5);
	box-shadow: 0px 0px 20px RGBA(0,0,0,0.6);
}
header p{
	margin-left:20px;
	margin-top:0px;
	font-size:20px;
	/*color: #8FBF2E;*/
	color:RGBA(250, 250, 250, 1);
}

aside {
	padding:0px;
	float: left;
	width: 20%;
	min-width:215px;
	margin-top:0px;
}

article {
	padding: 10px 0;
	margin-top:10px;
	margin-left:10px;
	background:#FFF;
	width: 79%;
	box-shadow: 0px 0px 20px RGBA(0,0,0,0.6);
	float: right;
	/*border:1px solid #000;*/
}
h1 {
	margin:auto 20px;
	color:#008000;
	border-bottom:1px solid #CECCCD;
}
article p {
	margin:20px;
	text-indent: 20px; /* Отступ первой строки в пикселах */
}
h2 {
	margin:auto 20px;
	color:#008080;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:center;
}
.box {
	margin-left:10px;
	margin-right:10px;
	padding:0px;
	box-shadow: 0px 0px 20px RGBA(0,0,0,0.6);
	/*border:2px solid #008040;*/
	background:#FFF;
	background:RGBA(250, 250, 250, 1);
}

.box_head {
	background:#305077;
	height:30px;
}
.box_head p {
	color: RGBA(250, 250, 250, 0.75);
	display:block;
	text-align:center;
	padding: 5px;
}
ul.nav {
	list-style:circle;
}
ul.nav li {
	margin-left:-12px;
	margin-top:-5px;
	margin-bottom:10px;
}
ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 0px;
	text-decoration: none;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	color:#B0DFE5;
}

.footer {
	color: #FFFFFF;
	padding: 10px 0;
	/*background: #E0D783;*/
	background-color: rgba(224, 215, 131, 0.0);
	position:relative;
	clear: both; 
	text-align:center;
}

.table {
	/*background:#204067;*/
	border:3px solid #FFFFFF
}

.table th {
	background:#204067;
	height:30px;
	color: #FFFFFF;
	text-align:center;
	border:2px solid #204067
}

.table td {
	height:30px;
	color: #204067;
	text-align:center;
	border:2px solid #204067
}


